</div><!-- /.container -->

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<!-- Font Awsome CDN -->
<script src="https://kit.fontawesome.com/fa6cceddfd.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- SemanticUi JS -->
<script src="/dist/semantic.min.js"></script>

<!-- External JS file -->
<script type="text/javascript" src="/scripts/main.js"> </script>

</body>

</html>